@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
   
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" /> 
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <link rel="stylesheet" type="text/css" href="../Content/Styles/bootstrap.min.css" />
    <link rel="stylesheet" type="text/css" href="../Content/Styles/theme.css" />
    <link rel="stylesheet" type="text/css" href="../Content/Styles/animate.css" /> 
    <script type="text/javascript" src="../Scripts/jquery.min.js"></script>
    <script type="text/javascript" src="../Scripts/kendo.mobile.min.js"></script>
    <title>产品详细</title> 
</head>
<body>
    @*<div class="row">
        <div class="col-md-12">
            <div class="note note-danger">
                <a href="/home/list"><img style="margin-left:5px;" src="~/Content/Images/fanhui.png" alt=""/>  </a>
                <div style="text-align: center; width: 100%; margin-top: -32px;">
                    <p><span style="font-size: 18px;">产品详细</span></p>
                </div>
            </div>
        </div>
    </div>*@

    <div class="row widget-row">
        <div class="col-md-12">
            @*<div class="widget-thumb widget-bg-color-white text-uppercase margin-bottom-20 borderedbottom">
                <div class="widget-thumb-wrap row">
                    <div class="col-xs-pull-12">
                        <div class="widget-thumb-body">
                            <div>
                                <span class="widget-thumb-title pcenter">
                                    <img src="../Content/Images/detail.png"/>
                                </span>
                                <div class="widget-thumb-title pcenter" style="margin-top: 2px;"><span>套餐内容：</span><span style="color: #52B4FF">爱家138套餐</span> </div>
                                <div class="widget-thumb-title pcenter"><span>价格：</span><span style="color:#52B4FF">30M+收视+手机成员1个  ¥78元/月</span></div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>*@
        </div>
       
        <div class="col-md-12">
            <div class="widget-thumb widget-bg-color-white text-uppercase margin-bottom-20 borderedbottom">
                <div class="widget-thumb-wrap row">
                    <div class="col-xs-pull-12">
                        <div class="widget-thumb-body">
                            <img src="../Content/Images/aijiahuodong.png" alt="" style="margin-left:10px;float:left;" />
                            <div style="float:left;font-size:18px;margin-left:2px;font-weight:600;margin-top:2px;color:#3e4f5e">活动内容</div>                          
                            <div style="margin-left:30px;float:left;">
                                
                            </div>

                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-md-12">
            <div class="widget-thumb widget-bg-color-white text-uppercase  borderedbottom">
                <div class="widget-thumb-wrap row">
                    <div style="float:left;font-size:14px;margin-left:20px;margin-top:-1px;font-weight:500;color:#3e4f5e">爱家138</div>
                   
                    <div style="float:right;margin-right:10px;   margin-bottom:2px;"><span style="font-size:16px;color:#F87A7D">￥138元/月</span></div>
                    <br/>
                    <div style="float:left;font-size:14px;margin-left:20px;font-weight:400;color:#3e4f5e">爱家用户,家庭成员消费138元/月,送30M宽带和高清收视</div>
                    <br/>
                    <div style="float:left;padding-left:30px;padding-right:30px; margin-top:10px;margin-left:20px;margin-right:20px; background-color:#F0F1F3;font-size:14px;color:#717274">
                        <ul>
                            <li>资费名称：爱家138</li>
                            <li>宽带：30M</li>
                            <li>套餐费用：138/月</li>
                            <li>手机成员(含主号码)：2</li>
                            <li>共享话费：98</li>
                            <li>赠送语音：成员间共享本地互拨通话2000分钟</li>
                            <li>初装费：100-300元</li>
                        </ul>
                    </div>
                </div>
            </div>

        </div>
        <div class="col-md-12">
            <div class="widget-thumb widget-bg-color-white text-uppercase margin-bottom-20 borderedbottom">
                <div class="widget-thumb-wrap row">
                    <div class="col-xs-pull-12">
                        <div class="widget-thumb-body">
                            <img src="../Content/Images/aijiatishi.png" alt="" style="margin-left:10px;float:left;" />
                            <div style="float:left;font-size:18px;margin-left:2px;font-weight:600;margin-top:5px;color:#3e4f5e">温馨提示</div>

                            <div style="margin-left:30px;float:left;">
                                <p style="padding-left:16px;padding-right:4px;font-size:14px;font-weight:600; color:#A0A0A0">
                                    1、基本成员的主资费在加入本融合套餐时不变更主资费； 
                                    <br />
                                    2、共享话费通过账单优惠方式实现,可以实时优惠除小额支付、补收外的其他费用，该优惠针对套餐内的所有成员共享；<br/> 
                                    
                                    3、因地址覆盖等原因可能会出现无法安装的情况，敬请谅解，我们后续将尽快解决，感谢您的支持。<br />
                                    4、赠送语音的2000分钟仅限成员间本地通话。
                                </p>
                            </div>
                        </div>

                    </div>
                </div>
            </div>
        </div>
        <div class="col-md-12">
            <!-- BEGIN WIDGET THUMB -->
            <div class="widget-thumb widget-bg-color-white text-uppercase margin-bottom-20 bordered" style="background-color:#EFF2FC">

                <div class="widget-thumb-wrap"  style="padding-left:10px;padding-right:10px;">
                  <a href="/home/onlineorder" class="btn blue btn-block">立即在线办理</a>
                </div>
            </div>
        </div>
    </div>
</body>
</html>
