@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
   
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" /> 
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <link rel="stylesheet" type="text/css" href="../Content/Styles/bootstrap.min.css" />
    <link rel="stylesheet" type="text/css" href="../Content/Styles/theme.css" />
    <link rel="stylesheet" type="text/css" href="../Content/Styles/animate.css" /> 
    <link rel="stylesheet" type="text/css" href="../Content/Styles/components.min.css" /> 
    <script type="text/javascript" src="../Scripts/jquery.min.js"></script>
    <script type="text/javascript" src="../Scripts/kendo.mobile.min.js"></script>
    <title>产品详细</title> 
</head>
<body>
    @*<div class="row">
        <div class="col-md-12">
            <div class="note note-danger">
                <a href="/home/list"><img style="margin-left:5px;" src="~/Content/Images/fanhui.png" alt=""/>  </a>
                <div style="text-align: center; width: 100%; margin-top: -32px;">
                    <p><span style="font-size: 18px;">产品详细</span></p>
                </div>
            </div>
        </div>
    </div>*@

    <div class="row widget-row">
        <div class="col-md-12">
            @*<div class="widget-thumb widget-bg-color-white text-uppercase margin-bottom-20 borderedbottom">
                <div class="widget-thumb-wrap row">
                    <div class="col-xs-pull-12">
                        <div class="widget-thumb-body">
                            <div>
                                <span class="widget-thumb-title pcenter">
                                    <img src="../Content/Images/detail.png"/>
                                </span>
                                <div class="widget-thumb-title pcenter" style="margin-top: 2px;"><span>套餐内容：</span><span style="color: #52B4FF">爱家138套餐</span> </div>
                                <div class="widget-thumb-title pcenter"><span>价格：</span><span style="color:#52B4FF">30M+收视+手机成员1个  ¥78元/月</span></div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>*@
        </div>
       
        <div class="col-md-12">
            <div class="widget-thumb widget-bg-color-white text-uppercase margin-bottom-20 borderedbottom">
                <div class="widget-thumb-wrap row">
                    <div class="col-xs-pull-12">
                        <div class="widget-thumb-body">
                            <img src="../Content/Images/aijiahuodong.png" alt="" style="margin-left:10px;float:left;" />
                            <div style="float:left;font-size:18px;margin-left:2px;font-weight:600;margin-top:2px;color:#3e4f5e">活动内容</div>                          
                            <div style="margin-left:30px;float:left;">
                                
                            </div>

                        </div>
                    </div>
                </div>
            </div>
        </div> 
        <div class="col-md-12">
            <div class="widget-thumb widget-bg-color-white text-uppercase  borderedbottom">
                <div class="widget-thumb-wrap row">
                    <div style="float:left;font-size:14px;margin-left:20px;margin-top:-1px;font-weight:500;color:#3e4f5e">爱家138</div>
                   
                    <div style="float:right;margin-right:10px;   margin-bottom:2px;"><span style="font-size:16px;color:#F87A7D">￥138元/月</span></div>
                    <br/>
                    <div style="float:left;font-size:14px;margin-left:20px;font-weight:400;color:#3e4f5e">爱家用户,家庭成员消费138元/月,送30M宽带和高清收视</div>
                    <br/>
                    <div style="float:left;padding-left:30px;padding-right:30px; margin-top:10px;margin-left:20px;margin-right:20px; background-color:#F0F1F3;font-size:14px;color:#717274">
                        <ul>
                            <li>资费名称：爱家138</li>
                            <li>宽带：30M</li>
                            <li>套餐费用：138/月</li>
                            <li>手机成员(含主号码)：2</li>
                            <li>共享话费：98</li>
                            <li>赠送语音：成员间共享本地互拨通话2000分钟</li>
                            <li>初装费：100-300元</li>
                        </ul>
                    </div>
                </div>
            </div>

        </div>
        <div class="pull-right" style="margin-right:68px;">
            <div style="position: absolute;z-index:1000;">
                <a href="https://kefu.easemob.com/webim/im.html?tenantId=36541&emgroup=%E5%AE%A2%E6%9C%8D%E7%BB%84"> <img src="~/Content/Images/onlineservice.png" style="width:64px;" /></a>
            </div>
        </div>
        <div class="col-md-12">
            <div class="tabbable-line">
                <ul class="nav nav-tabs">
                    <li class="active">
                        <a href="#tab_1" data-toggle="tab" aria-expanded="true"> <span style="font-weight:500;font-size:16px;">业务介绍</span> </a>
                    </li>
                    <li class="">
                        <a href="#tab_2" data-toggle="tab" aria-expanded="false"><span style="font-weight:500;font-size:16px;"> 温馨提示</span> </a>
                    </li>
                </ul>
                <div class="tab-content">
                    <div class="tab-pane active" id="tab_1">
                        <div class="widget-thumb-wrap row">
                            <div class="col-xs-pull-12">
                                <div class="widget-thumb-body">
                                    <div style="padding-left:16px;padding-right:4px;font-size:14px;font-weight:600; color:#A0A0A0">
                                        •资费名称：手机+58<br />
                                        •带宽：20M<br />
                                        •套餐费用：20元/月<br />
                                        •手机成员（含主号码）：--<br />
                                        •共享话费：--<br />
                                        •赠送语音：--<br />
                                        •机顶盒：150元<br />
                                    </div>
                                </div>
                            </div>

                        </div>
                    </div>
                    <div class="tab-pane" id="tab_2">
                        <div class="widget-thumb-wrap row">
                            <div class="col-xs-pull-12">
                                <div class="widget-thumb-body">
                                    <div style="padding-left:16px;padding-right:4px;font-size:14px;font-weight:600; color:#A0A0A0">
                                        1、因业务发展较快，网页内容仅供参考，尤其涉及设备费及初装费等信息会根据业务发展不定期进行调整，最终以当地工作人员解释为准。
                                        <br />
                                        2、不限量套餐变更说明：如用户办理或变更宽带资费，原不限量流量包月套餐将自动取消，且不再恢复。<br />
                                        3、因地址覆盖等原因可能会出现无法安装的情况，敬请谅解，我们后续将尽快解决，感谢您的支持。<br />
                                        4、协议期为一年。

                                    </div>
                                </div>

                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-md-12">
            <div class="widget-thumb widget-bg-color-white text-uppercase">

                <div class="widget-thumb-wrap" style="padding-left:10px;padding-right:10px;">
                    <a href="https://kefu.easemob.com/webim/im.html?tenantId=36541&emgroup=%E5%AE%A2%E6%9C%8D%E7%BB%84" class="btn blue btn-block">立即在线办理</a>
                </div>
            </div>
        </div>
    </div>
    <script type="text/javascript">
        $(document).ready(function () {
            handleTabs();
        });
        // Handles Tabs
        var handleTabs = function () {
            $(".nav.nav-tabs li").each(function () {
                $(this).on("click", function (e)
                {
                    $(e.target).parent().parent().find("li").removeClass("active");
                    $(e.target).parent().parent().find("li a").removeClass("tabheader");
                    $(e.target).parent().addClass("active");
                    $(e.target).addClass("tabheader");
                    $(".tab-pane").removeClass("active");
                    $($(e.target).attr("href")).addClass("active");
                });
            });
            $(".nav.nav-tabs li:first a").click();
        };
    </script>
</body>
</html>
