<?xml version="1.0"?>
<configuration>
  <connectionStrings>
    <add name="ApplicationServices" connectionString="Data Source=.;Initial Catalog=KPTTESTDB;User ID=sa;Password=zaq1XSW@;Persist Security Info=True;" providerName="System.Data.SqlClient"/>
  </connectionStrings>
  <system.web>
    <compilation debug="true" targetFramework="4.0"> 
    </compilation>
    <httpRuntime maxRequestLength="51200" requestValidationMode="2.0"/>
    <customErrors mode="Off" defaultRedirect="errorpage.htm">
      <error statusCode="403" redirect="bannedaddress.htm"/>
      <error statusCode="404" redirect="filenotfound.htm"/>
    </customErrors>
    <pages>
      <controls>
        <add tagPrefix="ajaxToolkit" namespace="AjaxControlToolkit" assembly="AjaxControlToolkit"/>
      </controls>
    </pages>
  </system.web>
  <system.webServer>
    <modules runAllManagedModulesForAllRequests="true"/>
  </system.webServer>
	<runtime>
		<assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
			<dependentAssembly>
				<assemblyIdentity name="Newtonsoft.Json" publicKeyToken="30AD4FE6B2A6AEED" culture="neutral"/>
				<bindingRedirect oldVersion="0.0.0.0-10.0.0.0" newVersion="10.0.0.0"/>
			</dependentAssembly>
		</assemblyBinding>
	</runtime>
</configuration>
