<?xml version="1.0"?>
<configuration>
  <connectionStrings>    
    <add name="ApplicationServices" connectionString="Data Source=10.65.63.154;Initial Catalog=NewChgaPlatformDB;User ID=sa;Password=zaq1XSW@;Persist Security Info=True;" providerName="System.Data.SqlClient" />

  </connectionStrings>
  <system.web>
    <compilation debug="true" targetFramework="4.0" />
    <httpRuntime maxRequestLength="51200" requestValidationMode="2.0"/>
    <customErrors mode="Off" defaultRedirect="errorpage.htm">
      <error statusCode="403" redirect="bannedaddress.htm"/>
      <error statusCode="404" redirect="filenotfound.htm"/>
    </customErrors>
  </system.web>
  <system.webServer>
     <modules runAllManagedModulesForAllRequests="true"/>
  </system.webServer>
</configuration>
