<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="utf-8" />
        <title>@ViewBag.Title</title>
        <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
        <meta name="viewport" content="width=device-width,initial-scale=1.0,minimum-scale=1.0,maximum-scale=1.0,user-scalable=no">
        <meta name="format-detection" content="telephone=no">
        <meta name="apple-mobile-web-app-capable" content="yes">
        <meta name="apple-mobile-web-app-status-bar-style" content="black">
        <link href="~/favicon.ico" rel="shortcut icon" type="image/x-icon" />  
        <link rel="stylesheet" type="text/css" href="../Content/Styles/bootstrap.min.css" />
        <link rel="stylesheet" type="text/css" href="../Content/Styles/theme.css" />
        <link rel="stylesheet" type="text/css" href="../Content/Styles/animate.css" />
        <script type="text/javascript" src="../Scripts/zepto.js"></script> 
    @*<script type="text/javascript" src="../Scripts/jquery.min.js"></script>
    <script type="text/javascript" src="../Scripts/kendo.mobile.min.js"></script>*@
        @*<script type="text/javascript" src="../Scripts/jquery-1.10.2.min.js"></script>*@ 
    </head>
    <body> 
        @RenderBody()   
    </body>
</html>
